*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	background: black;
}
.con{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ring{
	position: relative;
	width: 150px;
	height: 150px;
	border: 4px solid transparent;
	border-top: 4px solid aqua;
	border-radius: 50%;
	margin: -30px;
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.ring::before{
	content: "";
	position: absolute;
	top: 12px;
	right: 12px;
	width: 15px;
	height: 15px;
	border: 4px solid #00ffff;
	box-shadow: 0 0 0 5px #00ffff33,0 0 0 10px #00ffff22,0 0 0 15px #00ffff11;
	border-radius: 50%;
	background: #00ffff;
}

@keyframes animate2{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
	
}
.ring:nth-child(2){
	animation: animate2 4s linear infinite;
	border-top: 4px solid transparent;
	animation-delay: -1s;
	border-left: 4px solid #adff2f;
}
.ring:nth-child(2):before{
	content: "";
	position: absolute;
	top: initial;
	bottom: 12px;
	left: 12px;
	width: 15px;
	height: 15px;
	border: 4px solid #adff2f;
	box-shadow: 0 0 0 5px #adff2f33 ,0 0 0 10px #adff2f22 ,0 0 0 15px #adff2f11;
	border-radius: 50%;
	background:  #adff2f;
}
.ring:nth-child(3){
	animation: animate2 4s linear infinite;
	animation-delay: -3s;
	position: absolute;
	top: -66.66px;
	border-top: 4px solid transparent;
	border-left: 4px solid #ffa500;
}
.ring:nth-child(3):before{
	content: "";
	position: absolute;
	top: initial;
	bottom: 12px;
	left: 12px;
	width: 15px;
	height: 15px;
	border: 4px solid #ffa500;
	box-shadow: 0 0 0 5px #ffa50033 ,0 0 0 10px #ffa50022 ,0 0 0 15px #ffa50011;
	border-radius: 50%;
	background:  #ffa500;
}
p{
	position: absolute;
	color: white;
	font-size: 40px;
	letter-spacing: 0.17em;
	font-family: cursive;
	bottom: -200px;
	animation: load 2s linear infinite;
}
@keyframes load{
	0%,100%{
		letter-spacing: 0.17em;
		color:gold
	}
	25%,75%{
		letter-spacing: 0.20em;
		color:goldenrod;
	}
	50%{
		letter-spacing: 0.34em;
		color:gold;
	}
}
